@page "/"
@inject LiffClient LiffClient
@inject IJSRuntime JSRuntime

<div class="card" style="width: 20rem;">
    <img class="card-img" src="@LiffClient?.Data?.Profile?.PictureUrl" />
    <div class="card-body">
        <h5 class="card-title">@LiffClient?.Data?.Profile?.DisplayName</h5>
        <p class="card-text">@LiffClient?.Data?.Profile?.StatusMessage</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Language: @LiffClient?.Data?.Language</li>
        <li class="list-group-item">Type: @LiffClient?.Data?.Context.Type</li>
        <li class="list-group-item">ViewType: @LiffClient?.Data?.Context.ViewType</li>
        <li class="list-group-item">UserId: @LiffClient?.Data?.Context.UserId</li>
        @if (@LiffClient?.Data?.Context.Type == ContextType.Utou)
        {
        <li class="list-group-item">UtouId: @LiffClient?.Data?.Context.UtouId</li>
        }
        else if (@LiffClient?.Data?.Context.Type == ContextType.Room)
        {
        <li class="list-group-item">RoomId: @LiffClient?.Data?.Context.RoomId</li>
        }
        else if (@LiffClient?.Data?.Context.Type == ContextType.Group)
        {
        <li class="list-group-item">GroupId: @LiffClient?.Data?.Context.GroupId</li>
        }
    </ul>
</div>
<p>@LiffClient?.Error</p>


@functions{

    protected override Task OnAfterRenderAsync()
    {
        return LiffClient.InitializeAsync(JSRuntime);
    }
}

