@page "/send"
@inject LiffClient LiffClient

<input type="text" @bind="@Message" />
<button class="btn btn-primary" onclick="@SendMessageAsync">送信</button>

@functions{
    private string Message {get; set;}

    private async void SendMessageAsync()
    {
        if (!string.IsNullOrEmpty(Message))
        {
            await LiffClient.SendMessagesAsync(Message);
        }
        else
        {
            Console.WriteLine("MSG" + Message);
            await LiffClient.SendMessagesAsync("Empty");
        }
    }
    
}