@inherits LayoutComponentBase
@inject LiffClient LiffClient
@inject IJSRuntime JSRuntime


<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@functions{
    protected override async Task OnInitAsync()
    {
        LiffClient.InitSuccess += async (_, data) =>
        {
            StateHasChanged();
            await LiffClient.LoadProfileAsync();
        };
        LiffClient.InitError += async (_, error) =>
        {
            await JSRuntime.InvokeAsync<object>("liffInterop.alert", error);
        };
        LiffClient.GetProfileSuccess += async (_, error) =>
        {
            StateHasChanged();
        };
        LiffClient.GetProfileError += async (_, error) =>
        {
            await JSRuntime.InvokeAsync<object>("liffInterop.alert", error);
        };
        await LiffClient.InitializeAsync(JSRuntime);
    }
}
